.profileCard {
  border: 1px solid black;
  max-width: 50%;
  padding: 1rem;
  border-radius: 1%;
  margin: 1rem auto;

}
.profileCard header{
  display: flex;
  flex-direction: column;
  text-align: left;

}

.buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 30%;
  margin-bottom: 3px;
}